# Diretório exclusivo para os arquivos da aplicação.
DEF_DIRECTORY=./downloads

# Separe múltiplos argumentos por vírgula.
EDGE_ARGUMENTS=--headless=new
DOWNLOAD_TIMEOUT=60
DOWNLOAD_RETRIES=2

CSV_FILE_NAME=cotacaoTodasAsMoedas_
FILE_NAME=cotacoes_
TABLE=tp_master.dbo.I_COTACOES

DF_COLUMNS=COT_DATA,COT_ID,TIPO,MOEDA,COT_COMPRA,COT_VENDA,COT_COMPRA_USD,COT_VENDA_USD
FINAL_COLUMNS=COT_ID,COT_DATA,COT_COMPRA,COT_VENDA,COT_COMPRA_USD,COT_VENDA_USD
